<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9IJj3e1bMPD9UVKxmwFGmh1lEOYX5FKI</string>
	<key>GCM_SENDER_ID</key>
	<string>327674937708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omniful.app.WoodzMart</string>
	<key>PROJECT_ID</key>
	<string>woodzmart</string>
	<key>STORAGE_BUCKET</key>
	<string>woodzmart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327674937708:ios:b22503e875caa9d2bb3349</string>
</dict>
</plist>